@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.text-overline {
  text-transform: uppercase;
}
